body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.btn {
  cursor: pointer;
}

.strat-btn {
  height: 40pt;
  padding: 0 20pt;
  font-size: 12pt;
  font-weight: 600;
}

.btn-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40pt;
  width: 300px;
}

/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  color: #fff;
} */

.ct {
  background-color: #304b74;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  color: #fff;
}

.ct-btn {
  color: #304b74;
}

.cont-3rd-width {
  width: 75%;
}

.t {
  background-color: #9b8433;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  color: #fff;
}

.title {
  font-size: 36pt;
  margin: 0;
}

.description {
  font-size: 26pt;
  margin: 15pt 0 20pt 0;
}
