body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.btn {
  cursor: pointer;
}

.strat-btn {
  height: 4rem;
  padding: 0 20pt;
  font-size: 12pt;
  font-weight: 600;
}

.btn-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4rem;
  width: 18rem;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  color: #fff;
}

.ct {
  background-color: #304b74;
}

.t {
  background-color: #9b8433;
}

.ct-btn {
  color: #304b74;
}

.t-btn {
  color: #9b8433;
}

.title {
  font-size: 36pt;
  margin: 0;
}

.description {
  display: flex;
  align-self: center;
  text-align: center;
  font-size: 26pt;
  margin: 1.2rem 5rem 2rem 5rem;
}

.switchSides {
  height: 4rem;
}

.prompt {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-content: center;
}
